.vscode-test/**
.vscode/**
.github/**
docs/**
typings/**
out/test/**
out/packages/**
test/**
src/**
scripts/**
.azure-pipelines/**
reports/**
pipeline.build.ps1
**/*.map
.gitignore
tsconfig.json
tslint.json
*.vsix
*.yml
*.yaml
