**/bin/
**/obj/
.azure-pipelines/
.github/
.vscode/
.vs/
docs/
out/package/
out/dist/test/
dotnet/
src/
scripts/
node_modules/
reports/
.ps-rule/
pipeline.build.ps1
.gitignore
tsconfig.json
tslint.json
**/*.map
*.ts
.eslintignore
ps-rule.yaml
ps-project.yaml
SECURITY.md
SUPPORT.md
.markdownlint.json
out/updates.txt
GitVersion.yml
ps-rule.lock.json
*.sln
build.mjs
.devcontainer/
