#
# CI Pipeline
#

# NOTES:
# This workflow builds and tests extension updates.

name: Build
on:
  push:
    branches: [main, 'release/*']
  pull_request:
    branches: [main, 'release/*']
  workflow_dispatch: {}

permissions: {}

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        timeout-minutes: 3
        run: |
          npm install --global @vscode/vsce --force
          npm install

      - name: Build module
        timeout-minutes: 3
        run: |
          mkdir -p out/package/
          npm run package -- 0.0.1

      - name: Upload extension
        uses: actions/upload-artifact@v3
        with:
          name: Extension
          path: out/package/vscode-*.vsix
          retention-days: 3
          if-no-files-found: error

  test:
    name: Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: build
    permissions:
      contents: read
    strategy:
      # Get full test results from all platforms.
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        timeout-minutes: 3
        run: |
          npm install

      - name: Configure environment
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          echo ">>> Started xvfb"

      - name: Run tests
        timeout-minutes: 5
        run: |
          npm test
        env:
          DISPLAY: ':99.0'
